form {
    margin: 40px 0;

    label.input-header {
        margin-bottom: 10px;
        display: block;
        font-weight: 500;
    }
    input,textarea {
        outline: none;
    }

    input {
        &[type="text"],&[type="number"] {
            width: 100%;
            max-width: 400px;
        }
        &[type="radio"] {
            margin: 5px 5px 5px 10px;
        }

        background-color: transparent;
        line-height: 20px;
        font-size: 14px;
        border: 0;
        border-bottom: 1px solid #E1E1E1;
        &:focus {
            border-bottom: 1px solid #009E55;
        }
    }

    .radio-field {

    }

    textarea {
        border: 1px solid #E1E1E1;
        min-width: 300px;
        min-height: 200px;
    }

    button {
        border: 1px solid #e1e1e1;
        background: #ececec;
        width: 100px;
        line-height: 30px;
        border-radius: 2px;
        font-size: 16px;
        font-weight: bold;
    }

    h2 {
        padding: 0 10px;
        margin-bottom: 12px;
    }

    .form-group {
        clear: both;
        width: 100%;
        margin-bottom: 40px;
        overflow: hidden;

        .col-1-1 {
            width: 100%;
            height: 55px;
            float: left;
            padding: 0 10px;
            box-sizing: border-box;

            &.no-height {
                height: auto;
            }

            label {
                font-size: 18px;
                font-weight: bold;
            }

            input, textarea {
                width: 100%;
            }
        }

        .col-1-3 {
            width: 33.33%;
            height: 50px;
            float: left;
            padding: 0 10px;
            box-sizing: border-box;

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 25px;
            }
        }
    }
}