body {
    background-color: #bddee4;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 275px;
    width: 100%;
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    .translate {
        width: 200px;
        float: right;
        margin-right: 10px;
    }

    .logo{
        background-image: url(../img/logo.png);
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
        margin: 32px 0px 0px 32px;
        background-size: 50px;
        height: 50px;
        width: 50px;
    }
}

.content {
    max-width: 940px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    word-wrap: break-word;
    border-top: 8px solid #2290a6;
    padding: 35px 15px;
    position: relative;
    top: -100px;
}
.footer {
    padding: 14px 10px;
    text-align: center;
    background: #fff;
    border-top: 5px solid #e1e1e1;

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin-top: 3em;
}

p {
    white-space: pre-wrap;
    line-height: 135%;
    margin-top: 22px;
    font-size: 16px;
}

button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: yellow;
    border: none;
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button1 {
    padding: 15px 32px;
}