body {
    background-color: #bddee4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #fafafa;
    height: 275px;
    width: 100%;
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    .translate {
    }

    .mdl-layout-title {
        margin-top: 50px;
        margin-left: -50px;
        img {
            max-height: 100px;
            max-width: 400px;
        }
        
    }
}

.mdl-layout__container {
    position: relative;
}

.mdl-layout__content {
    top: -100px;
    z-index: 4;
}
@media screen and (max-width: 1024px) {
header.mdl-layout__header {
    display: block;
}
}
.content {
    max-width: 940px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    padding: 14px 10px;
    text-align: center;
    background: #fff;
    border-top: 5px solid #e1e1e1;

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin-top: 3em;
}

p {
    white-space: pre-wrap;
    line-height: 135%;
    margin-top: 22px;
    font-size: 16px;
}