.mdl-textfield.textfield--clean {
	.mdl-textfield__input {
		border-bottom: 1px solid rgba(0,0,0,.12);
	}
	.mdl-textfield__label {
		color: rgba(0,0,0,.26);
		font-size: inherit;
	}
	&.is-focused .mdl-textfield__label:after {
		visibility: hidden;
	}
	.mdl-textfield__error {
		visibility: hidden;
	}
}

.register {
	form {
		.people-select-wrapper {
			height: 60px;
			margin: 15px 0;
			display: flex;
    		justify-content: center;
		    flex-direction: column;

		    .people-select {
			    display: flex;
			    align-items: center;
			    justify-content: flex-start;
			    > * {
			    	margin-right: 10px;
			    }
		    }

			input {
				width: 25px;
				text-align: center;
			}
			label {
				font-size: 14px;
				color: #757070;
				width: 100px;
			}
			.people-icons {
				display: flex;
			    flex-direction: row;
			}
			.icon {
				background-repeat: no-repeat;
				height: 60px;
				width: 30px;
				display: block;
			}
			.icon.icon-adults_female {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 73" style="enable-background:new 0 0 28 73;" xml:space="preserve"> <g id="woman"> <g> <path style="fill:#4B91AD;" d="M27.881,55.728l-8.124-34.299C19.18,18.993,16.649,17,14.132,17h-0.265 c-2.516,0-5.048,1.993-5.625,4.429L0.119,55.728c-0.577,2.436,1.01,4.429,3.526,4.429h4.937L11.38,73h5.241l2.798-12.842h4.937 C26.872,60.158,28.459,58.165,27.881,55.728z"/> </g> <g> <circle style="fill:#4B91AD;" cx="14" cy="7" r="7"/> </g> </g> </svg>');
				height: 74px;
			}
			.icon.icon-adults_male {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 78" style="enable-background:new 0 0 28 78;" xml:space="preserve"> <g id="man"> <g> <path style="fill:#4B91AD;" d="M24.14,16H3.86c-2.464,0-4.179,2.031-3.81,4.514l3.402,22.912c0.369,2.482,2.686,4.514,5.15,4.514 L10.907,78h6.185l2.306-30.061c2.464,0,4.782-2.031,5.15-4.514l3.402-22.912C28.319,18.031,26.604,16,24.14,16z"/> </g> <g> <circle style="fill:#4B91AD;" cx="14" cy="7" r="7"/> </g> </g> </svg>');
				height: 78px;
			}
			.icon.icon_female_outline {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 73" style="enable-background:new 0 0 28 73;" xml:space="preserve"> <g id="woman"> <g> <path style="fill:#AEAEAE;" d="M14.132,18.5c1.806,0,3.752,1.53,4.165,3.275l8.124,34.299c0.17,0.718,0.059,1.373-0.313,1.844 c-0.377,0.477-1,0.74-1.753,0.74h-4.937H18.21l-0.257,1.181L15.412,71.5h-2.824l-2.541-11.662L9.79,58.658H8.582H3.645 c-0.753,0-1.376-0.263-1.753-0.74c-0.372-0.471-0.484-1.125-0.313-1.844l8.124-34.299c0.413-1.745,2.359-3.275,4.165-3.275H14.132 M14.132,17h-0.265c-2.516,0-5.048,1.993-5.625,4.429L0.119,55.728c-0.577,2.436,1.01,4.429,3.526,4.429h4.937L11.38,73h5.241 l2.798-12.842h4.937c2.517,0,4.103-1.993,3.526-4.429l-8.124-34.299C19.18,18.993,16.649,17,14.132,17L14.132,17z"/> </g> <g> <path style="fill:#AEAEAE;" d="M14,1.5c3.033,0,5.5,2.467,5.5,5.5s-2.467,5.5-5.5,5.5S8.5,10.033,8.5,7S10.967,1.5,14,1.5 M14,0 c-3.866,0-7,3.134-7,7c0,3.866,3.134,7,7,7c3.866,0,7-3.134,7-7C21,3.134,17.866,0,14,0L14,0z"/> </g> </g> </svg>');
				height: 74px;
			}
			.icon.icon_male_outline {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 78" style="enable-background:new 0 0 28 78;" xml:space="preserve"> <g id="man"> <g> <path style="fill:#AEAEAE;" d="M24.14,17.5c0.733,0,1.375,0.276,1.806,0.776c0.451,0.523,0.636,1.239,0.52,2.017l-3.402,22.912 c-0.26,1.753-1.939,3.234-3.667,3.234h-1.389l-0.106,1.385L15.703,76.5h-3.407l-2.199-28.675l-0.106-1.385H8.602 c-1.727,0-3.406-1.481-3.667-3.234L1.534,20.293c-0.115-0.778,0.069-1.494,0.52-2.017c0.432-0.5,1.073-0.776,1.806-0.776H24.14 M24.14,16H3.86c-2.464,0-4.179,2.031-3.81,4.514l3.402,22.912c0.369,2.482,2.686,4.514,5.15,4.514L10.907,78h6.185l2.306-30.061 c2.464,0,4.782-2.031,5.15-4.514l3.402-22.912C28.319,18.031,26.604,16,24.14,16L24.14,16z"/> </g> <g> <path style="fill:#AEAEAE;" d="M14,1.5c3.033,0,5.5,2.467,5.5,5.5s-2.467,5.5-5.5,5.5S8.5,10.033,8.5,7S10.967,1.5,14,1.5 M14,0 c-3.866,0-7,3.134-7,7s3.134,7,7,7s7-3.134,7-7S17.866,0,14,0L14,0z"/> </g> </g> </svg>');
				height: 78px;
			}
			.icon.icon-children {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.89 55" style="enable-background:new 0 0 15.89 55;" xml:space="preserve"> <g id="child"> <g> <path style="fill:#4B91AD;" d="M15.855,34.935l-2.04-16.412C13.506,16.035,11.201,14,8.692,14H7.197 c-2.508,0-4.814,2.035-5.123,4.523l-2.04,16.412c-0.309,2.488,1.49,4.523,3.999,4.523L5.333,55h5.224l1.3-15.542 C14.365,39.458,16.164,37.422,15.855,34.935z"/> </g> <g> <circle style="fill:#4B91AD;" cx="7.945" cy="6" r="6"/> </g> </g> </svg>');
				height: 55px;
			}
			.add-one, .remove-one {
			    width: 30px;
			    text-align: center;
				height: 30px;
				margin: 24px 5px;
                font-size: 30px;
				line-height: 30px;
			    color: #4B91AD;
				background-color: #C1D7E0;
			    cursor: pointer;
				border-radius: 4px;
			}
		}
	}
}