@import "reset.scss";
@import "layout.scss";
@import "feedback.scss";

.calltoaction {
    font-weight: bold;
    font-size: 140%;
}

.nextSteps ul {
    list-style-type: circle !important;
    padding-left: 32px;
    line-height: 2em;
}