.header {
    width: 100%;
    height: 55px;
    padding: 10px 30px;
    background-color: #555555;

    .location {
        float: left;
        margin-bottom: 10px;
        padding: 0 10px;
        select {
            width: 160px;
            height: 35px;
        }
    }

    .tabs {
        float: left;
        a {
            display: block;
            float: left;
            width: 160px;
            height: 45px;
            text-align: center;
            line-height: 45px;

            background-color: #B4B4B4;
            color: #000;

            &.selected {
                background-color: #EEF4F8;
                position: relative;
                border-bottom: 1px solid #EEF4F8;
            }
        }
    }
}