.people {
    margin-top: 25px;
    div {
        div.person {
            padding: 10px 10px 5px 10px;
            margin: 10px 0;
            background-color: #fff;
            color: #999;
            cursor: pointer;
            position: relative;
            font-size: 14px;

            &.selected {
                border: 1px solid #000;
            }

            .title {
                color: #000;
            }

            span {
                display: inline-block;
                padding: 0 5px 0 0;
            }

            div.info {
                padding: 5px 0;
                line-height: 1.5;
            }

            .freetext {
                i {
                    font-style: italic;
                }
            }

            .cancel-match {
                position: absolute;
                bottom: 10px;
                left: 15px;
            }
        }
    }
}
.pagination {
    text-align:center;
    width: 100%;
    ul {
        li {
            display: inline;
            padding-right: 1em;
            button {
                padding: 3px 0.5em;
            }
        }
    }
}