.unmatched {
    margin-top: 25px;
    ul {
        li {
            padding: 5px 10px;
            margin: 10px 0;
            background-color: #fff;
            color: #999;
            cursor: pointer;
            position: relative;
            font-size: 14px;

            &.selected {
                border: 1px solid #000;
            }

            b {
                font-weight: bold;
                color: #000;
            }

            span {
                display: inline-block;
                padding: 0 5px 0 0;
            }

            div.info {
                padding: 10px 0;
                line-height: 1.5;
            }

            div.freetext {
                margin-bottom: 10px;
                i {
                    font-style: italic;
                }
            }
            .bringing i {
                    font-style: italic;
            }

            .distance {
                position: absolute;
                top: 5px;
                right: 10px;
            }

            .updated {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: 12px;
            }
        }
    }

    .filters {
        padding: 10px 0;
        label {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .map-view {
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    button.match {
        color: #fff;
        width: 180px;
        height: 40px;
        float: right;
        border: 0;
        background-color: #555555;

        &.active {
            background-color: #3196EF;
        }
    }
}